<h1>Angular is all about {{title}}</h1>
<br>
<a target="_blank" href="http://www.google.com/search?q=angular+concepts">Google more about AngularConcepts</a>

<ul>
  <li *ngFor="let item of items">{{item}}</li>
</ul>

<button (click)="emitCustomEvent(); btnClicked($event)">
  Show Event emitted by a button
</button>

<app-hello (messageEvent)="recieveMessage($event)" [name]="variableDeclaredInParent">
</app-hello>
<p>{{ recievedMessage }}</p>

Show Variable Result <input type="checkbox" [(ngModel)]="showMe" />
<h3>ng If Working</h3>

<p *ngIf="showMe">
  Show checkbox is checked
</p>

<p *ngIf="!showMe">
  Show checkbox is unchecked
</p>

<h3>ng If-Else</h3>

<p *ngIf="showMe; else elseblock1">
  Show checkbox is checked
</p>
<!-- Using ng-template, we create blocks or conditions which ultimately runs using ngIf only -->
<ng-template #elseblock1>
  <p>Checkbox is unchecked and we are able to show using #elseblock1</p>
</ng-template>

<h3>ngIf then else</h3>
<p *ngIf="showMe; then thenblock2 else elseBlock2">
  This will not be rendered - only used for mentioning conditions.
  just to run a particular ng-template block
</p>

<ng-template #thenblock2>
  <p>Checkbox is checked using thenBlock2</p>
</ng-template>

<ng-template #elseBlock2>
  <p>Checkbox is unchecked using elseblock2</p>
</ng-template>

<!-- Last way to use ngIf -->

<h3>Using hidden predefined inbuilt property (instead of ngIf)</h3>

<p [hidden]="!showMe">
  showMe is checked(true), content rendered. This is hidden property binding
</p>

<p [hidden]="showMe">
showMe is unchecked.
</p>

<h3>ng-Switch</h3>
Input num value: <input type="number" [(ngModel)] ="num" />
<div [ngSwitch]="num">
  <div *ngSwitchCase="1">One</div>
  <div *ngSwitchCase="2">Two</div>
  <div *ngSwitchCase="3">Three</div>
  <div *ngSwitchCase="4">Four</div>
  <div *ngSwitchCase="5">Five</div>
  <div *ngSwitchDefault>Enter values from 1 to 5</div>
</div>
<br>

<div class="card">
  <div class="card-header">
    ngSwitch using ng-template - using Bootstrap css 5 classes
  </div>

  <div class="card-body">
    <select [(ngModel)]="selectValue">
      <option *ngFor="let item of arrayOfObjects;" [value]="item.value">
        {{item.name}}
      </option>
    </select>

    <div [ngSwitch]="selectValue">
      <ng-template [ngSwitchCase]="'10'">Combobox item A is selected from above</ng-template>
      <ng-template [ngSwitchCase]="'20'">Combobox item B is selected from above</ng-template>
      <ng-template [ngSwitchCase]="'30'">Combobox item C is selected from above</ng-template>
      <ng-template [ngSwitchCase]="'40'">Combobox item D is selected from above</ng-template>
      <ng-template ngSwitchDefault>Default case</ng-template>
    </div>
  </div>
</div>